

body{
    background: url('src/assets/marcelo-leal-6pcGTJDuf6M-unsplash.jpg') no-repeat ; 
    background-attachment: fixed;
    background-size:cover;
    background-size: 100%  100%;
    min-height: 100%; 
}

.form-style input {
  border: 0;
  height: 50px;
  border-radius: 20px;
}
.form-style input:focus {
  border-bottom: 1px solid #007bff;
  box-shadow: none;
  outline: 0;
}

button {
  height: 50px;
  border-radius: 20px;
}

.sideline:after {
  margin: 0 0 0 20px;
}
