<body>
<div class="container">
    <div class="row" style="padding-top: 150px; margin:auto"><br>
      <div style="  margin-right: auto;"  class="col-md-5  p-5">
        <h4 class="pb-3">Hospital Management System</h4>
        <div class="form-style">
          <form (ngSubmit)="submitForm()">
            <div class="form-group pb-3">
              <input [(ngModel)]="user.email" type="email" name="email" placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group pb-3">
              <input [(ngModel)]="user.password" name="password" type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center"><input name="rememberMe" type="checkbox" value="" /> <span class="pl-2 font-weight-bold">Remember Me</span></div>
              <div><a style="color:aqua;" href="#">Forget Password?</a></div>
            </div>
            <div class="pb-2">
              <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2" [disabled]="loginForm.invalid">Login</button>
            </div>
          </form>
          <div class="pt-4 text-center">
            No Account?. <a style="color:aqua;" routerLink="/register">Sign Up</a>
          </div>
        </div>
  
      </div>
    </div>
  </div>


  </body>


