<button class='mb-2 ml-3' nz-button (click)='toggle(true)' nzType='primary' >
    <i nz-icon nzType='edit' nzTheme='outline' *ngIf="chatroom.groupId"></i>
    <span *ngIf="!chatroom.groupId">Add Chatroom</span>
  </button>
  <nz-drawer [nzClosable]='false' [nzWidth]='400' [nzVisible]='visible' nzPlacement='right'
             [nzTitle]='chatroom.id? "Edit Chatroom" : "Add Chatroom"' (nzOnClose)='toggle(false)'>
    <ng-container *nzDrawerContent>
      <form nz-form [formGroup]='form' nzLayout='vertical' (ngSubmit)='submit()'>
        <formly-form [model]='chatroom' [fields]='fields'  [form]='form' [options]="{}"></formly-form>
        <div class="clearfix">
           </div>
        <nz-button-group class='mt-1'>
          <button nz-button nzType='primary' type='submit' [disabled]="!chatroom.groupIcon">Save</button>
          <button nz-button nzType='primary' (click)='toggle(false)' nzGhost type='reset'>Cancel</button>
        </nz-button-group>
      </form>
    </ng-container>
  </nz-drawer>
  
