<body>
  <br><br> <h2 style="text-align: center;">Patient Registration </h2> <br><br>
 <form style="align-self: center;" nz-form  [formGroup]="registrationForm"  (ngSubmit)="submitForm()">
    
     <div class="row">
       <div class="col-lg-6">
       <nz-form-item>
           <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="firstName">First Name</nz-form-label><br>
           <nz-form-control   nzErrorTip="The input is invalid!">
             <input class="form-input"   nz-input  formControlName="firstName"/>
           </nz-form-control>
         </nz-form-item>
       </div>
       <div class="col-lg-6">
         <nz-form-item>
           <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
           <nz-form-control  nzErrorTip="The input is invalid!">
             <input class="form-input"  nz-input  formControlName="lastName"/>
           </nz-form-control>
         </nz-form-item>
       </div>
       </div>
   <div class="row">
     <div class="col-lg-6">
       <nz-form-item>
         <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="email">Email Adress</nz-form-label>
         <nz-form-control  [nzErrorTip]="emailErrorTpl">
           <input nz-input class="form-input" formControlName="email"  type="email" />
               <ng-template #emailErrorTpl let-control>
                 <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
                 <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
               </ng-template> </nz-form-control>
       </nz-form-item>
     </div>
  
       <div class="col-lg-6">
         <nz-form-item>
           <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="password" nzRequired>Password</nz-form-label>
           <nz-form-control >
             <input
             class="form-input" 
               nz-input
               type="password"
               formControlName="password"
               (ngModelChange)="updateConfirmValidator()"
             />
             <ng-template #errorTpl let-control>
   
               <ng-container *ngIf="control.hasError('required')">Please input your password!</ng-container>
               <ng-container *ngIf="control.hasError('minlength')"> Password too short !!!!</ng-container>
               <ng-container *ngIf="control.hasError('pattern')">
                 <small>
                   Please include all of the following <br>
                   At least 6 characters in length<br>
                   -Lowercase letters<br>
                   -Uppercase letters<br>
                   -Numbers<br>
                   -Special characters
                 </small>  
                </ng-container>
             </ng-template>
           </nz-form-control>
         </nz-form-item>
         
   </div>
       </div>
      <div class="row">
       <div class="col-lg-6">
         <nz-form-item>
           <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dateOfBirth">Date Of Birth</nz-form-label>
           <nz-form-control  nzErrorTip="The input isinvalid">
            <nz-date-picker  class="form-input"  style="width: 100%"  formControlName="dateOfBirth"></nz-date-picker>
           </nz-form-control>
         </nz-form-item>
       </div>
       <div class="col-lg-6">
         <nz-form-item>
           <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
           <nz-form-control  [nzErrorTip]="errorTpl">
             <input
             class="form-input" 
              nz-input 
              type="password"  
               formControlName="checkPassword" />
             <ng-template #errorTpl let-control >
               <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
               <ng-container *ngIf="control.hasError('confirm')">
                 Two passwords that you enter is inconsistent!
               </ng-container>
             </ng-template>
           </nz-form-control>
         </nz-form-item>
 
         
       </div>
      </div>
 
      
        
   <div class="row">
     <div class="col-lg-6">
       <nz-form-item>
         <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
         <nz-form-control
           nzErrorTip="Please input your phone number!" >
           <input class="form-input"  nz-input  formControlName="phoneNumber"/>
         
           <!-- <div class="wrapper">

  
           <ngx-intl-tel-input
           [cssClass]="'custom'"
           [preferredCountries]="preferredCountries"
           [enableAutoCountrySelect]="true"
           [enablePlaceholder]="true"
           [searchCountryFlag]="true"
           [searchCountryField]="[
             SearchCountryField.Iso2,
             SearchCountryField.Name
           ]"
           [selectFirstCountry]="false"
           [selectedCountryISO]="CountryISO.India"
           [maxLength]="15"
           [phoneValidation]="true"
           [separateDialCode]="separateDialCode"
           [numberFormat]="PhoneNumberFormat.National"
           name="phone"
           formControlName="phoneNumber">
         </ngx-intl-tel-input> 
        </div> -->
          </nz-form-control>
       </nz-form-item>
           
     </div>
     <div class="col-lg-6">
       <nz-form-item>
         <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Address</nz-form-label>
         <nz-form-control  nzErrorTip="The input is invalid">
             <textarea 
             nz-input class="form-input" [nzAutosize]="{ minRows: 2, maxRows: 2}"  formControlName="address" >
             </textarea>
         </nz-form-control>
       </nz-form-item>
     </div>
   </div>
       
       <div class="row">
         <div class="col-lg-6">
           <nz-form-item>
             <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
             <nz-form-control  nzErrorTip="The input is invalid">
                 <nz-radio-group class="form-input"  formControlName="gender" >
                     <label  nz-radio [nzValue]="o.value" *ngFor="let o of options" >{{ o.label }}</label>
                   </nz-radio-group>
             </nz-form-control>
           </nz-form-item>
         </div>
         <div class="col-lg-6">
           <nz-form-item >
             <nz-form-control [nzSpan]="16" [nzOffset]="6">
               <button nz-button class="button" [disabled]="registrationForm.invalid" type="submit"  nzType="primary">Register</button>
                Already Registered ?   <a style="color:aqua;"  routerLink="/login">Login</a> 
             </nz-form-control>
           </nz-form-item>
         </div>
       </div>
     </form>
   </body>
   
  