<body>
<form nz-form  [formGroup]="registrationForm"  (ngSubmit)="submitForm()">
    <h2 style="text-align: center;">Patient Registration </h2>
    <br>
    <div class="row">
      <div class="col-lg-6">
      <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="firstName">First Name</nz-form-label><br>
          <nz-form-control   nzErrorTip="The input is invalid!">
            <input nz-input [ngModel]="user.firstName"  name="firstName" formControlName="firstName"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-lg-6">
        <nz-form-item>
          <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
          <nz-form-control  nzErrorTip="The input is invalid!">
            <input nz-input [ngModel]="user.lastName"   name="lastName" formControlName="lastName"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      </div>
  <div class="row">
    <div class="col-lg-6">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="email">Email Adress</nz-form-label>
        <nz-form-control  nzErrorTip="The input is not valid E-mail!">
          <input nz-input [ngModel]="user.email"   name="email"  formControlName="email" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-lg-6">
 
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
        <nz-form-control
          
          nzErrorTip="Please input your phone number!"
        >
          <nz-input-group >
            <input [ngModel]="user.phoneNumber"   name='phoneNumber' nz-input   formControlName="phoneNumber">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  
    </div>
  </div>
      
     <div class="row">
      <div class="col-lg-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dateOfBirth">Date Of Birth</nz-form-label>
          <nz-form-control  nzErrorTip="The input isinvalid">
           <nz-date-picker style="width: 100%" name="dateOfBirth" [ngModel]="user.dateOfBirth"  formControlName="dateOfBirth"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-lg-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="password" nzRequired>Password</nz-form-label>
          <nz-form-control >
            <input
            [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              type="password"
              name="password" 
              [ngModel]="user.password" 
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
            <ng-template #errorTpl let-control>
  
              <ng-container *ngIf="control.hasError('required')">Please input your password!</ng-container>
              <ng-container *ngIf="control.hasError('confirm')"> Password too short </ng-container>
              <ng-container> </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
     </div>
        
       
  <div class="row">
    <div class="col-lg-6">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
        <nz-form-control  [nzErrorTip]="errorTpl">
          <input
          [type]="passwordVisible ? 'text' : 'password'"
           nz-input type="password" 
           name="checkPassword"  
           [ngModel]="user.password" 
            formControlName="checkPassword" />
          <ng-template #errorTpl let-control >
            <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-lg-6">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Address</nz-form-label>
        <nz-form-control  nzErrorTip="The input is invalid">
            <textarea 
            nz-input  [nzAutosize]="{ minRows: 2, maxRows: 3}" name="address"  [ngModel]="user.address"  formControlName="address" >
            </textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
      
      <div class="row">
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
            <nz-form-control  nzErrorTip="The input is invalid">
                <nz-radio-group [(ngModel)]="gender">
                    <label nz-radio [nzValue]="o.value" *ngFor="let o of options" [ngModel]="user.gender"  nmae="gender" formControlName="gender" >{{ o.label }}</label>
                  </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-6">
          <nz-form-item >
            <nz-form-control [nzSpan]="16" [nzOffset]="6">
              <button nz-button class="button" [disabled]="registrationForm.invalid" nzType="primary">Register</button>
               Already Registered ?   <a routerLink="/login">Login now!</a> 
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </body>
  
 