
<div class='container'>
    <div class='row text-center'>
        <h2 >Specialization</h2>
    </div>
    <div class='right'>
        <app-set-specialization [chatroom]='chatroom' (output)='reload($event)'></app-set-specialization>
      </div>
     <nz-table  #basicTable [nzData]='chatrooms' [nzPageSize]='7'>
       <thead>
       <tr>
         <th>Specialization Name</th>
        
         <th></th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor='let data of basicTable.data'>
         <td>{{data.firstName}} </td>
        
         <td>
           <nz-button-group>
         
           <a
             nz-popconfirm
             nzPopconfirmTitle="Are you sure delete this employee?"
             nzPopconfirmPlacement="bottom"
             (nzOnConfirm)="confirm(data.id)"
             nz-butto>
             <button nz-button nzType="default" nzDanger><i nz-icon nzType="delete" nzTheme="outline"></i></button>
           </a>
           <button nz-button nzType="primary"  routerLink='/organisation-structure/chatroom/{{data.groupId}}' nzGhost>
            <i nz-icon nzType='folder-open' nzTheme='outline'></i>
        </button>
           </nz-button-group>
         </td>
       </tr>
       </tbody>
     </nz-table>
   </div>
   
